.sidebar_content{
    width: 300px;
    font-family: Poppins;
    display: flex;
    flex-direction: column;
    padding-left:20px ;
}
.sideBarCategory{
    color:#808191;
    font-weight: 600;
    font-size: 10px;
    text-transform: uppercase;
}
.sideBarCategory a{
    text-decoration: none;
    display: flex;
    gap: 15px;
    margin-bottom: 25px;
    font-size: 10px;
    align-items: center;
    color:#808191;
}

/* .sideBarCategory a{
     fon
} */

.sideBarIcon{
    width: 30px !important;
    height: 30px !important;
    font-size: 18px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    color:#808191;
    background-color: #34373C;
    transition: all 0.5s;

}
.line{
    width: 150px;
    height:0.1em;
    background-color: #808191;
}
.active>.sideBarIcon{
background-color: #FF7551;
color: white;
}
.active>p{
    color:white;
}

.sidebar_item{
    display: flex;
    color:#808191;
    font-size: 10px;
    font-weight: 600;
}
.sidebar_item>p{
    position: relative;
    top: -6px;
    left:10px;
}
.sidebar_Link{
    display:flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 30px;
    width: 25px;
    height:25px;
    background-color:  #34373C;
    font-size: 10px;
    color:#808191;
    border-radius: 10px;

}
.activeLink{
    background-color: #FF7551;
    color:white;
}

.sidebar_item:hover{
    cursor: pointer;

}
@media only screen and (max-width: 480px) {
     .sidebar_content{
        display: none;
     }
  }


